<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Test Flask{% endblock %}</title>
    <meta name="description" content="Test flask">
    <meta name="author" content="Ezael">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>