{% extends "-base-.html" %}

{% block title %}{{ ctx.trad.titreLogin }}{% endblock %}

{% block content %}
<div>{{ ctx.trad.titreLogin }}</div>
{% if ctx.user_exist == 2 %}
    <div>{{ ctx.trad.utilisateurNotExist }}</div>
{% endif %}
<div>
    <form method="post">
        <input type="text" name="username" minlength=3 required="required">
        <input type="email" name="email" minlength=10 required="required">
        <input type="submit" value="Login">
    </form>

    <a href="/new_account"><a href="/new_account">{{ ctx.trad.creerNouveauCompte }}</a>
</div>
{% endblock %}