{% extends "-base-.html" %}

{% block title %}{{ ctx.trad.titreNewAcccount }}{% endblock %}

{% block content %}
<div>{{ ctx.trad.titreNewAcccount }}</div>
{% if ctx.user_exist == 2 %}
    <div>{{ ctx.trad.utilisateurExist }}</div>
{% endif %}
<form method="post">
    <input type="text" name="username" minlength=3 required="required">
    <input type="email" name="email" minlength=10 required="required">
    <select name="lang">
        <option value="fr">FR</option>
        <option value="en">EN</option>
    </select>
    <input type="submit" value="Login">
</form>
<div><a href="login"/>{{ ctx.trad.seConnecter }}</div>
{% endblock %}